.header {
  padding: 20px;
  border-bottom: 1px solid #9b80f1;

  & nav {
    display: flex;
    justify-content: center;
  }

  &_link {
    margin: 10px;
    text-decoration: none;
    color: #9b80f1;
    cursor: pointer;
  }
}

.active {
  color: #ded5fa;
}
